body{
    font-family: 'x-men', Courier, monospace;
    background: #000000;
    color: #ffffff;
}

body::before{
    content: '';
    background-image: url("../imagens/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;    
    z-index: -1;
}

.cabecalho{
    display: flex;    
    justify-content: center;
}

.cabecalho .logo{
    max-width: 300px;
}

main{
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selecao-de-personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.selecao-de-personagens .personagem-grande{
    height: 350px; 
    width: 350px; 
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.selecao-de-personagens .lista-de-personagens .personagem{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.selecao-de-personagens .lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.selecao-de-personagens .lista-de-personagens .personagem.selecionado{
    border: 2px solid #d3ffff;
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.selecao-de-personagens .lista-de-personagens .personagem:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.selecao-de-personagens .informacoes-personagem{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    gap: 15px;
}

.selecao-de-personagens .personagem-selecionado{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.selecao-de-personagens .personagem-selecionado .informacoes-personagem #nome-personagem,
.selecao-de-personagens .personagem-selecionado .informacoes-personagem #descricao-personagem{
    text-align: center;
}

.selecao-de-personagens .personagem-selecionado .informacoes-personagem #nome-personagem{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 26px;
}

